[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "xdg_data_home/vim/pack/00-essential/start/commentary"]
	path = xdg_data_home/vim/pack/00-essential/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "xdg_data_home/vim/pack/00-essential/start/eunuch"]
	path = xdg_data_home/vim/pack/00-essential/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "xdg_data_home/vim/pack/00-essential/start/mkdir"]
	path = xdg_data_home/vim/pack/00-essential/start/mkdir
	url = https://github.com/pbrisbin/vim-mkdir.git
[submodule "xdg_data_home/vim/pack/00-essential/start/repeat"]
	path = xdg_data_home/vim/pack/00-essential/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "xdg_data_home/vim/pack/00-essential/start/sensible"]
	path = xdg_data_home/vim/pack/00-essential/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "xdg_data_home/vim/pack/00-essential/start/sleuth"]
	path = xdg_data_home/vim/pack/00-essential/start/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "xdg_data_home/vim/pack/00-essential/start/speeddating"]
	path = xdg_data_home/vim/pack/00-essential/start/speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "xdg_data_home/vim/pack/00-essential/start/surround"]
	path = xdg_data_home/vim/pack/00-essential/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "xdg_data_home/vim/pack/00-essential/start/unimpaired"]
	path = xdg_data_home/vim/pack/00-essential/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/aurora"]
	path = xdg_data_home/vim/pack/colorschemes/start/aurora
	url = https://github.com/ray-x/aurora.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/colorschemes"]
	path = xdg_data_home/vim/pack/colorschemes/start/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/colors-solarized"]
	path = xdg_data_home/vim/pack/colorschemes/start/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/dracula"]
	path = xdg_data_home/vim/pack/colorschemes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/gruvbox"]
	path = xdg_data_home/vim/pack/colorschemes/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/jellybeans.vim"]
	path = xdg_data_home/vim/pack/colorschemes/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/one"]
	path = xdg_data_home/vim/pack/colorschemes/start/one
	url = https://github.com/rakr/vim-one.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/onedark.vim"]
	path = xdg_data_home/vim/pack/colorschemes/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/onehalf"]
	path = xdg_data_home/vim/pack/colorschemes/start/onehalf
	url = https://github.com/sonph/onehalf.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/palenight.vim"]
	path = xdg_data_home/vim/pack/colorschemes/start/palenight.vim
	url = https://github.com/drewtempelmeyer/palenight.vim.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/papercolor-theme"]
	path = xdg_data_home/vim/pack/colorschemes/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/spaceduck"]
	path = xdg_data_home/vim/pack/colorschemes/start/spaceduck
	url = https://github.com/pineapplegiant/spaceduck.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/tempus-themes-vim"]
	path = xdg_data_home/vim/pack/colorschemes/start/tempus-themes-vim
	url = https://gitlab.com/protesilaos/tempus-themes-vim.git
[submodule "xdg_data_home/vim/pack/colorschemes/start/vividchalk"]
	path = xdg_data_home/vim/pack/colorschemes/start/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "xdg_data_home/vim/pack/commands/start/abolish"]
	path = xdg_data_home/vim/pack/commands/start/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "xdg_data_home/vim/pack/commands/start/ack.vim"]
	path = xdg_data_home/vim/pack/commands/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "xdg_data_home/vim/pack/commands/start/tabular"]
	path = xdg_data_home/vim/pack/commands/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "xdg_data_home/vim/pack/commands/start/vim-easy-align"]
	path = xdg_data_home/vim/pack/commands/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "xdg_data_home/vim/pack/commands/start/vim-test"]
	path = xdg_data_home/vim/pack/commands/start/vim-test
	url = https://github.com/vim-test/vim-test.git
[submodule "xdg_data_home/vim/pack/compl_lint_lsp_etc/opt/ale"]
	path = xdg_data_home/vim/pack/compl_lint_lsp_etc/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "xdg_data_home/vim/pack/compl_lint_lsp_etc/opt/coc.nvim"]
	path = xdg_data_home/vim/pack/compl_lint_lsp_etc/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "xdg_data_home/vim/pack/compl_lint_lsp_etc/opt/lsp"]
	path = xdg_data_home/vim/pack/compl_lint_lsp_etc/opt/lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "xdg_data_home/vim/pack/compl_lint_lsp_etc/opt/lsp-settings"]
	path = xdg_data_home/vim/pack/compl_lint_lsp_etc/opt/lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "xdg_data_home/vim/pack/compl_lint_lsp_etc/opt/supertab"]
	path = xdg_data_home/vim/pack/compl_lint_lsp_etc/opt/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "xdg_data_home/vim/pack/filetypes/start/abnf"]
	path = xdg_data_home/vim/pack/filetypes/start/abnf
	url = https://gitlab.com/ssoil/abnf.git
[submodule "xdg_data_home/vim/pack/filetypes/start/ansible-vim"]
	path = xdg_data_home/vim/pack/filetypes/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "xdg_data_home/vim/pack/filetypes/start/caddyfile"]
	path = xdg_data_home/vim/pack/filetypes/start/caddyfile
	url = https://github.com/isobit/vim-caddyfile.git
[submodule "xdg_data_home/vim/pack/filetypes/start/cjsx"]
	path = xdg_data_home/vim/pack/filetypes/start/cjsx
	url = https://github.com/mtscout6/vim-cjsx.git
[submodule "xdg_data_home/vim/pack/filetypes/start/coffee-script"]
	path = xdg_data_home/vim/pack/filetypes/start/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "xdg_data_home/vim/pack/filetypes/start/cpp"]
	path = xdg_data_home/vim/pack/filetypes/start/cpp
	url = https://github.com/vim-jp/vim-cpp.git
[submodule "xdg_data_home/vim/pack/filetypes/start/crystal"]
	path = xdg_data_home/vim/pack/filetypes/start/crystal
	url = https://github.com/rhysd/vim-crystal.git
[submodule "xdg_data_home/vim/pack/filetypes/start/csv.vim"]
	path = xdg_data_home/vim/pack/filetypes/start/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "xdg_data_home/vim/pack/filetypes/start/dart-vim-plugin"]
	path = xdg_data_home/vim/pack/filetypes/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "xdg_data_home/vim/pack/filetypes/start/Dockerfile.vim"]
	path = xdg_data_home/vim/pack/filetypes/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "xdg_data_home/vim/pack/filetypes/start/ejs-syntax"]
	path = xdg_data_home/vim/pack/filetypes/start/ejs-syntax
	url = https://github.com/nikvdp/ejs-syntax.git
[submodule "xdg_data_home/vim/pack/filetypes/start/elixir"]
	path = xdg_data_home/vim/pack/filetypes/start/elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "xdg_data_home/vim/pack/filetypes/start/elm-syntax"]
	path = xdg_data_home/vim/pack/filetypes/start/elm-syntax
	url = https://github.com/andys8/vim-elm-syntax.git
[submodule "xdg_data_home/vim/pack/filetypes/start/erlang-runtime"]
	path = xdg_data_home/vim/pack/filetypes/start/erlang-runtime
	url = https://github.com/vim-erlang/vim-erlang-runtime.git
[submodule "xdg_data_home/vim/pack/filetypes/start/go"]
	path = xdg_data_home/vim/pack/filetypes/start/go
	url = https://github.com/fatih/vim-go.git
[submodule "xdg_data_home/vim/pack/filetypes/start/graphql"]
	path = xdg_data_home/vim/pack/filetypes/start/graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "xdg_data_home/vim/pack/filetypes/start/helm"]
	path = xdg_data_home/vim/pack/filetypes/start/helm
	url = https://github.com/towolf/vim-helm.git
[submodule "xdg_data_home/vim/pack/filetypes/start/html5.vim"]
	path = xdg_data_home/vim/pack/filetypes/start/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "xdg_data_home/vim/pack/filetypes/start/json"]
	path = xdg_data_home/vim/pack/filetypes/start/json
	url = https://github.com/elzr/vim-json.git
[submodule "xdg_data_home/vim/pack/filetypes/start/kinesis"]
	path = xdg_data_home/vim/pack/filetypes/start/kinesis
	url = https://github.com/joecridge/vim-kinesis.git
[submodule "xdg_data_home/vim/pack/filetypes/start/kitty"]
	path = xdg_data_home/vim/pack/filetypes/start/kitty
	url = https://github.com/fladson/vim-kitty.git
[submodule "xdg_data_home/vim/pack/filetypes/start/kotlin-vim"]
	path = xdg_data_home/vim/pack/filetypes/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "xdg_data_home/vim/pack/filetypes/start/llvm"]
	path = xdg_data_home/vim/pack/filetypes/start/llvm
	url = https://github.com/rhysd/vim-llvm.git
[submodule "xdg_data_home/vim/pack/filetypes/start/lua"]
	path = xdg_data_home/vim/pack/filetypes/start/lua
	url = https://github.com/tbastos/vim-lua.git
[submodule "xdg_data_home/vim/pack/filetypes/start/markdown"]
	path = xdg_data_home/vim/pack/filetypes/start/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "xdg_data_home/vim/pack/filetypes/start/nginx.vim"]
	path = xdg_data_home/vim/pack/filetypes/start/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule "xdg_data_home/vim/pack/filetypes/start/ragel.vim"]
	path = xdg_data_home/vim/pack/filetypes/start/ragel.vim
	url = https://github.com/jneen/ragel.vim.git
[submodule "xdg_data_home/vim/pack/filetypes/start/scss-syntax.vim"]
	path = xdg_data_home/vim/pack/filetypes/start/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "xdg_data_home/vim/pack/filetypes/start/sh"]
	path = xdg_data_home/vim/pack/filetypes/start/sh
	url = https://github.com/arzg/vim-sh.git
[submodule "xdg_data_home/vim/pack/filetypes/start/swift.vim"]
	path = xdg_data_home/vim/pack/filetypes/start/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "xdg_data_home/vim/pack/filetypes/start/systemd-syntax"]
	path = xdg_data_home/vim/pack/filetypes/start/systemd-syntax
	url = https://github.com/wgwoods/vim-systemd-syntax.git
[submodule "xdg_data_home/vim/pack/filetypes/start/yaml"]
	path = xdg_data_home/vim/pack/filetypes/start/yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "xdg_data_home/vim/pack/ft-javascript/opt/yats.vim"]
	path = xdg_data_home/vim/pack/ft-javascript/opt/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "xdg_data_home/vim/pack/ft-javascript/start/javascript"]
	path = xdg_data_home/vim/pack/ft-javascript/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "xdg_data_home/vim/pack/ft-javascript/start/js"]
	path = xdg_data_home/vim/pack/ft-javascript/start/js
	url = https://github.com/yuezk/vim-js.git
[submodule "xdg_data_home/vim/pack/ft-javascript/start/jst"]
	path = xdg_data_home/vim/pack/ft-javascript/start/jst
	url = https://github.com/briancollins/vim-jst.git
[submodule "xdg_data_home/vim/pack/ft-javascript/start/jsx-pretty"]
	path = xdg_data_home/vim/pack/ft-javascript/start/jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "xdg_data_home/vim/pack/ft-javascript/start/jsx-typescript"]
	path = xdg_data_home/vim/pack/ft-javascript/start/jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "xdg_data_home/vim/pack/ft-javascript/start/typescript-vim"]
	path = xdg_data_home/vim/pack/ft-javascript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "xdg_data_home/vim/pack/ft-ruby/opt/blockle"]
	path = xdg_data_home/vim/pack/ft-ruby/opt/blockle
	url = https://github.com/jgdavey/vim-blockle.git
[submodule "xdg_data_home/vim/pack/ft-ruby/start/bundler"]
	path = xdg_data_home/vim/pack/ft-ruby/start/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "xdg_data_home/vim/pack/ft-ruby/start/cucumber"]
	path = xdg_data_home/vim/pack/ft-ruby/start/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "xdg_data_home/vim/pack/ft-ruby/start/rake"]
	path = xdg_data_home/vim/pack/ft-ruby/start/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "xdg_data_home/vim/pack/ft-ruby/start/rbenv"]
	path = xdg_data_home/vim/pack/ft-ruby/start/rbenv
	url = https://github.com/tpope/vim-rbenv.git
[submodule "xdg_data_home/vim/pack/ft-ruby/start/rbs"]
	path = xdg_data_home/vim/pack/ft-ruby/start/rbs
	url = https://github.com/jlcrochet/vim-rbs.git
[submodule "xdg_data_home/vim/pack/ft-ruby/start/rspec.vim"]
	path = xdg_data_home/vim/pack/ft-ruby/start/rspec.vim
	url = https://github.com/keith/rspec.vim.git
[submodule "xdg_data_home/vim/pack/ft-ruby/start/vim-haml"]
	path = xdg_data_home/vim/pack/ft-ruby/start/vim-haml
	url = https://github.com/sheerun/vim-haml.git
[submodule "xdg_data_home/vim/pack/ft-ruby/start/vim-rails"]
	path = xdg_data_home/vim/pack/ft-ruby/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "xdg_data_home/vim/pack/ft-ruby/start/vim-rspec"]
	path = xdg_data_home/vim/pack/ft-ruby/start/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "xdg_data_home/vim/pack/ft-ruby/start/vim-ruby"]
	path = xdg_data_home/vim/pack/ft-ruby/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "xdg_data_home/vim/pack/ft-ruby/start/yardoc"]
	path = xdg_data_home/vim/pack/ft-ruby/start/yardoc
	url = https://github.com/noprompt/vim-yardoc.git
[submodule "xdg_data_home/vim/pack/git/start/fugitive"]
	path = xdg_data_home/vim/pack/git/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "xdg_data_home/vim/pack/git/start/gv.vim"]
	path = xdg_data_home/vim/pack/git/start/gv.vim
	url = https://github.com/junegunn/gv.vim.git
[submodule "xdg_data_home/vim/pack/git/start/rhubarb"]
	path = xdg_data_home/vim/pack/git/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "xdg_data_home/vim/pack/git/start/rootignore"]
	path = xdg_data_home/vim/pack/git/start/rootignore
	url = https://github.com/octref/rootignore.git
[submodule "xdg_data_home/vim/pack/git/start/vim-gitgutter"]
	path = xdg_data_home/vim/pack/git/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "xdg_data_home/vim/pack/insert/opt/delimitMate"]
	path = xdg_data_home/vim/pack/insert/opt/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "xdg_data_home/vim/pack/insert/start/endwise"]
	path = xdg_data_home/vim/pack/insert/start/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "xdg_data_home/vim/pack/insert/start/rsi"]
	path = xdg_data_home/vim/pack/insert/start/rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "xdg_data_home/vim/pack/normal/opt/vim-which-key"]
	path = xdg_data_home/vim/pack/normal/opt/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "xdg_data_home/vim/pack/normal/start/characterize"]
	path = xdg_data_home/vim/pack/normal/start/characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "xdg_data_home/vim/pack/normal/start/easymotion"]
	path = xdg_data_home/vim/pack/normal/start/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "xdg_data_home/vim/pack/normal/start/jdaddy"]
	path = xdg_data_home/vim/pack/normal/start/jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "xdg_data_home/vim/pack/normal/start/move"]
	path = xdg_data_home/vim/pack/normal/start/move
	url = https://github.com/matze/vim-move.git
[submodule "xdg_data_home/vim/pack/normal/start/ragtag"]
	path = xdg_data_home/vim/pack/normal/start/ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "xdg_data_home/vim/pack/normal/start/splitjoin.vim"]
	path = xdg_data_home/vim/pack/normal/start/splitjoin.vim
	url = https://github.com/andrewradev/splitjoin.vim.git
[submodule "xdg_data_home/vim/pack/normal/start/visual-multi"]
	path = xdg_data_home/vim/pack/normal/start/visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "xdg_data_home/vim/pack/terminal/start/floaterm"]
	path = xdg_data_home/vim/pack/terminal/start/floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule "xdg_data_home/vim/pack/terminal/start/terminus"]
	path = xdg_data_home/vim/pack/terminal/start/terminus
	url = https://github.com/wincent/terminus.git
[submodule "xdg_data_home/vim/pack/terminal/start/tmux-navigator"]
	path = xdg_data_home/vim/pack/terminal/start/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "xdg_data_home/vim/pack/terminal/start/tmux.vim"]
	path = xdg_data_home/vim/pack/terminal/start/tmux.vim
	url = https://github.com/ericpruitt/tmux.vim.git
[submodule "xdg_data_home/vim/pack/tpope/start/capslock"]
	path = xdg_data_home/vim/pack/tpope/start/capslock
	url = https://github.com/tpope/vim-capslock.git
[submodule "xdg_data_home/vim/pack/tpope/start/dispatch"]
	path = xdg_data_home/vim/pack/tpope/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "xdg_data_home/vim/pack/tpope/start/dotenv"]
	path = xdg_data_home/vim/pack/tpope/start/dotenv
	url = https://github.com/tpope/vim-dotenv.git
[submodule "xdg_data_home/vim/pack/tpope/start/obsession"]
	path = xdg_data_home/vim/pack/tpope/start/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "xdg_data_home/vim/pack/tpope/start/projectionist"]
	path = xdg_data_home/vim/pack/tpope/start/projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "xdg_data_home/vim/pack/tpope/start/scriptease"]
	path = xdg_data_home/vim/pack/tpope/start/scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "xdg_data_home/vim/pack/ui-buffers/opt/bufkill"]
	path = xdg_data_home/vim/pack/ui-buffers/opt/bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "xdg_data_home/vim/pack/ui-buffers/opt/vem-tabline"]
	path = xdg_data_home/vim/pack/ui-buffers/opt/vem-tabline
	url = https://github.com/pacha/vem-tabline.git
[submodule "xdg_data_home/vim/pack/ui-buffers/start/bufexplorer"]
	path = xdg_data_home/vim/pack/ui-buffers/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "xdg_data_home/vim/pack/ui-buffers/start/buffergator"]
	path = xdg_data_home/vim/pack/ui-buffers/start/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "xdg_data_home/vim/pack/ui-dirtrees/opt/vim-vinegar"]
	path = xdg_data_home/vim/pack/ui-dirtrees/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "xdg_data_home/vim/pack/ui-dirtrees/start/nerdtree"]
	path = xdg_data_home/vim/pack/ui-dirtrees/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "xdg_data_home/vim/pack/ui-dirtrees/start/nerdtree-git-plugin"]
	path = xdg_data_home/vim/pack/ui-dirtrees/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "xdg_data_home/vim/pack/ui-dirtrees/start/vim-nerdtree-syntax-highlight"]
	path = xdg_data_home/vim/pack/ui-dirtrees/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "xdg_data_home/vim/pack/ui-finders/opt/ctrlp.vim"]
	path = xdg_data_home/vim/pack/ui-finders/opt/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "xdg_data_home/vim/pack/ui-finders/opt/vim-clap"]
	path = xdg_data_home/vim/pack/ui-finders/opt/vim-clap
	url = https://github.com/liuchengxu/vim-clap.git
[submodule "xdg_data_home/vim/pack/ui-finders/start/fzf"]
	path = xdg_data_home/vim/pack/ui-finders/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "xdg_data_home/vim/pack/ui-finders/start/fzf-preview.vim"]
	path = xdg_data_home/vim/pack/ui-finders/start/fzf-preview.vim
	url = https://github.com/yuki-yano/fzf-preview.vim.git
[submodule "xdg_data_home/vim/pack/ui-finders/start/fzf.vim"]
	path = xdg_data_home/vim/pack/ui-finders/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "xdg_data_home/vim/pack/ui-notes/opt/vimoutliner"]
	path = xdg_data_home/vim/pack/ui-notes/opt/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "xdg_data_home/vim/pack/ui-notes/opt/vimwiki"]
	path = xdg_data_home/vim/pack/ui-notes/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "xdg_data_home/vim/pack/ui-notes/opt/VOoM"]
	path = xdg_data_home/vim/pack/ui-notes/opt/VOoM
	url = https://github.com/vim-voom/VOoM.git
[submodule "xdg_data_home/vim/pack/ui/opt/vimspector"]
	path = xdg_data_home/vim/pack/ui/opt/vimspector
	url = https://github.com/puremourning/vimspector.git
[submodule "xdg_data_home/vim/pack/ui/start/emoji-icon-theme"]
	path = xdg_data_home/vim/pack/ui/start/emoji-icon-theme
	url = https://github.com/adelarsq/vim-emoji-icon-theme.git
[submodule "xdg_data_home/vim/pack/ui/start/mundo"]
	path = xdg_data_home/vim/pack/ui/start/mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "xdg_data_home/vim/pack/ui/start/tagbar"]
	path = xdg_data_home/vim/pack/ui/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "xdg_data_home/vim/pack/ui/start/undotree"]
	path = xdg_data_home/vim/pack/ui/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "xdg_data_home/vim/pack/ui/start/vim-auto-origami"]
	path = xdg_data_home/vim/pack/ui/start/vim-auto-origami
	url = https://github.com/benknoble/vim-auto-origami.git
[submodule "xdg_data_home/vim/pack/ui/start/vim-devicons"]
	path = xdg_data_home/vim/pack/ui/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "xdg_data_home/vim/pack/ui/start/vim-indent-guides"]
	path = xdg_data_home/vim/pack/ui/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "xdg_data_home/vim/pack/ui/start/vim-win"]
	path = xdg_data_home/vim/pack/ui/start/vim-win
	url = https://github.com/dstein64/vim-win.git
[submodule "xdg_data_home/vim/pack/ui-statuslines/opt/flagship"]
	path = xdg_data_home/vim/pack/ui-statuslines/opt/flagship
	url = https://github.com/tpope/vim-flagship.git
[submodule "xdg_data_home/vim/pack/ui-statuslines/opt/vim-line-no-indicator"]
	path = xdg_data_home/vim/pack/ui-statuslines/opt/vim-line-no-indicator
	url = https://github.com/drzel/vim-line-no-indicator.git
[submodule "xdg_data_home/vim/pack/ui-statuslines/start/vim-airline"]
	path = xdg_data_home/vim/pack/ui-statuslines/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "xdg_data_home/vim/pack/ui-statuslines/start/vim-airline-themes"]
	path = xdg_data_home/vim/pack/ui-statuslines/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "xdg_data_home/vim/pack/new-2022-10-11/opt/startify"]
	path = xdg_data_home/vim/pack/new-2022-10-11/opt/startify
	url = https://github.com/mhinz/vim-startify.git
