[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/tpope/start/sensible"]
	path = vim/pack/tpope/start/sensible
	url = https://tpope.io/vim/sensible.git
[submodule "vim/pack/tpope/start/sleuth"]
	path = vim/pack/tpope/start/sleuth
	url = https://tpope.io/vim/sleuth.git
[submodule "vim/pack/tpope/start/unimpaired"]
	path = vim/pack/tpope/start/unimpaired
	url = https://tpope.io/vim/unimpaired.git
[submodule "vim/pack/tpope/start/surround"]
	path = vim/pack/tpope/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim/pack/tpope/start/commentary"]
	path = vim/pack/tpope/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "vim/pack/tpope/start/characterize"]
	path = vim/pack/tpope/start/characterize
	url = https://tpope.io/vim/characterize.git
[submodule "vim/pack/tpope/start/eunuch"]
	path = vim/pack/tpope/start/eunuch
	url = https://tpope.io/vim/eunuch.git
[submodule "vim/pack/tpope/start/fugitive"]
	path = vim/pack/tpope/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "vim/pack/tpope/start/bundler"]
	path = vim/pack/tpope/start/bundler
	url = https://tpope.io/vim/bundler.git
[submodule "vim/pack/tpope/start/rake"]
	path = vim/pack/tpope/start/rake
	url = https://tpope.io/vim/rake.git
[submodule "vim/pack/tpope/start/projectionist"]
	path = vim/pack/tpope/start/projectionist
	url = https://tpope.io/vim/projectionist.git
[submodule "vim/pack/tpope/start/endwise"]
	path = vim/pack/tpope/start/endwise
	url = https://tpope.io/vim/endwise.git
[submodule "vim/pack/tpope/start/repeat"]
	path = vim/pack/tpope/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "vim/pack/ui/start/vim-airline"]
	path = vim/pack/ui/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/ui/start/papercolor-theme"]
	path = vim/pack/colorschemes/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim/pack/ui/start/jellybeans.vim"]
	path = vim/pack/colorschemes/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/pack/ui/start/tempus-themes-vim"]
	path = vim/pack/colorschemes/start/tempus-themes-vim
	url = https://gitlab.com/protesilaos/tempus-themes-vim
[submodule "vim/pack/dist/start/vim-ruby"]
	path = vim/pack/filetypes/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/pack/dir_views/start/nerdtree"]
	path = vim/pack/dir_views/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/pack/ui/start/vim-devicons"]
	path = vim/pack/ui/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/pack/dir_views/start/nerdtree-git-plugin"]
	path = vim/pack/dir_views/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/pack/vim/pack/dir_views/start/vim-nerdtree-syntax-highlight"]
	path = vim/pack/dir_views/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "vim/pack/vim/pack/dir_views/start/nerdtree-buffer-ops"]
	path = vim/pack/dir_views/start/nerdtree-buffer-ops
	url = https://github.com/PhilRunninger/nerdtree-buffer-ops.git
[submodule "vim/pack/vim/pack/fzf/start/fzf"]
	path = vim/pack/fzf/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/fzf/start/fzf.-vim"]
	path = vim/pack/fzf/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/ui/start/vim-airline-themes"]
	path = vim/pack/ui/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/ui/start/vim-line-no-indicator"]
	path = vim/pack/ui/start/vim-line-no-indicator
	url = https://github.com/drzel/vim-line-no-indicator.git
[submodule "vim/pack/ui/start/vim-devicons-emoji"]
	path = vim/pack/ui/start/vim-devicons-emoji
	url = https://github.com/adelarsq/vim-devicons-emoji.git
[submodule "vim/pack/commands/start/vim-easy-align"]
	path = vim/pack/commands/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/pack/ui/start/vim-gitgutter"]
	path = vim/pack/ui/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-capslock"]
	path = vim/pack/tpope/start/capslock
	url = https://github.com/tpope/vim-capslock.git
[submodule "vim-jdaddy"]
	path = vim/pack/tpope/start/jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "vim/pack/tpope/start/obsession"]
	path = vim/pack/tpope/start/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/pack/tpope/start/dispatch"]
	path = vim/pack/tpope/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/pack/tpope/start/dotenv"]
	path = vim/pack/tpope/start/dotenv
	url = https://github.com/tpope/vim-dotenv.git
[submodule "vim/pack/tpope/opt/flagship"]
	path = vim/pack/tpope/opt/flagship
	url = https://github.com/tpope/vim-flagship.git
[submodule "vim/pack/ui/start/vim-auto-origami"]
	path = vim/pack/ui/start/vim-auto-origami
	url = https://github.com/benknoble/vim-auto-origami.git
[submodule "vim/pack/colorschemes/opt/gruvbox"]
	path = vim/pack/colorschemes/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
